.update{
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    margin-bottom: 15px;
    padding: 10px 15px;
}
.save{
    background-color: #d4edda;
    border-left: 6px solid #28a745;
    margin-bottom: 15px;
    padding: 10px 15px;
}